In [8]:
print("Hello world!")

Hello world!

In [2]:
print("hello")

hello

In [3]:
"hello world one"
"hello world two"

'hello world two'

In [4]:
print("Hello world one")
print("Hello world two")

Hello world one
Hello world two

In [7]:
print("Hello \tworld")

Hello 	world

In [10]:
len("Iamhungry")

9

In [12]:
len("I am hungry")

11

In [13]:
mystring = "Hello world"

In [14]:
mystring

'Hello world'

In [15]:
mystring[0]

'H'

In [16]:
mystring[0:5]

'Hello'

In [17]:
mystring[-2]

'l'

In [18]:
mystring[-1]

'd'

In [26]:
mystring[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [27]:
mystring

'abcdefghijklmnopqrstuvwxyz'

mystring[::3]

In [30]:
mystring

'abcdefghijklmnopqrstuvwxyz'

In [31]:
mystring[::-1]

'zyxwvutsrqponmlkjihgfedcba'



lets talk about the immutability of strings

In [33]:
name = "Sam"

In [34]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [35]:
name[1:]

'am'

In [36]:
last_letters = name[1:]

In [37]:
last_letters

'am'

In [38]:
'P' + last_letters
last_letters

'am'

In [39]:
last_letters

'am'

In [40]:
'P' + last_letters

'Pam'

In [41]:
last_letters

'am'

In [42]:
x = "Hello world"

In [43]:
x

'Hello world'

In [44]:
x = x + "Hello World"

In [45]:
x

'Hello worldHello World'

In [46]:
x

'Hello worldHello World'

In [62]:
x = x + " it is beautiful outside"

In [63]:
x

'Hello worldHello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [64]:
x

'Hello worldHello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [65]:
x

'Hello worldHello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [66]:
x

'Hello worldHello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [67]:
x

'Hello worldHello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [68]:
letters * 10

NameError: name 'letters' is not defined

In [69]:
letters = 'z'

In [70]:
letters * 10

'zzzzzzzzzz'

In [71]:
'2' + '3'

'23'

In [72]:
x = "Hello World"

In [73]:
x

'Hello World'

In [74]:
x.capitalize

In [75]:
x.upper()

'HELLO WORLD'

In [76]:
x

'Hello World'

In [77]:
x = "hi this is a string"

In [78]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [79]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

x.split('h
        ')

In [81]:
x.split('h')

['', 'i t', 'is is a string']

In [82]:
x

'hi this is a string'

In [83]:
print('Yaaas')

Yaaas

In [84]:
my_name

NameError: name 'my_name' is not defined

In [85]:
my_name = 'Jonathan'

In [86]:
print("Hello " + my_name)

Hello Jonathan

# Lets talk about .format

In [87]:
print("This is a string: {}".format('INSERTED'))

This is a string: INSERTED

In [88]:
print("{} {} {}".format('fox', 'brown', 'quick'))

fox brown quick

In [89]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

# Float Formatting {value:width.precision f}

In [90]:
result = 100/777

In [91]:
result

0.1287001287001287

In [102]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

# f-String Formating

In [103]:
name = "Jonathan"

In [105]:
print(f"Hello, his name is {name}")

Hello, his name is Jonathan

In [106]:
name = "Sam"
age = 3

In [107]:
print(f"{name} is {age} years old")

Sam is 3 years old

In [1]:
new_list = ["one", "two", "three", "four", "five"]

In [2]:
new_list[0] = "ONE"

In [3]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [4]:
new_list.append("six")

In [5]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [6]:
new_list.pop()

'six'

In [7]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [8]:
new_list.pop(0)

'ONE'

In [9]:
new_list

['two', 'three', 'four', 'five']

In [10]:
new_list.append(0,"one")

TypeError: append() takes exactly one argument (2 given)

In [11]:
new_list.insert("one",0)

TypeError: 'str' object cannot be interpreted as an integer

In [12]:
new_list.insert(0, "one")

In [13]:
new_list

['one', 'two', 'three', 'four', 'five']

In [14]:
new_list = ['a', 'b','e','x','c']

In [15]:
num_list = [4,1,8,3]

In [16]:
new_list.sort()

In [17]:
new_list

['a', 'b', 'c', 'e', 'x']

In [18]:
type(None)

NoneType

In [19]:
num_list.sort()

In [20]:
num_list

[1, 3, 4, 8]

In [21]:
num_list.reverse()

In [22]:
num_list

[8, 4, 3, 1]